.main {
    background: #3B445C;
}
.mb0 {margin-bottom: 0;}
.mt0 {margin-top: 0;}
h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    color: #EBEEFF;
    margin: 0;
}
p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #EBEEFF;
    margin: 5px 0 0 0;
}
@media (min-width: 769px) {
    h1 {
        font-size: 48px;
    }
}